@()(implicit request: play.api.mvc.Request[Any])
@import layouts._
@main("Зворотний зв'язок") {
<div class="center hero-unit">
	<h1>Зворотний зв'язок:</h1>
	<table align=center style="font-size: 20px;">
	  <tr>
	    <td align=right style="color: green;">Електронна пошта:&nbsp;</td>
	    <td align=left>yarik.just&#64;gmail.com</td>
	  </tr>
	  <tr>
	    <td align=right style="color: green;">Skype:&nbsp;</td>
	    <td align=left>ice.just</td>
	  </tr>
	  <tr>
	    <td align=right style="color: green;">vk.com:&nbsp;</td>
	    <td align=left><a href="http://vk.com/id144326150" target="_blank">Ярослав Круковський</a></td>
	  </tr>
	</table>
</div>
}
