@()(implicit request: play.api.mvc.Request[Any])
@import layouts._
<div class="center hero-unit">
  <h2>Для використання сайту у вас повинен бути включений <i>javascript</i>.</h2>
  <h3 style="color: green;">Internet Explorer 9</h3><p>
  У меню Знаряддя (Tools) виберіть пункт Властивості браузера (Internet Options).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5412/png/ie_options.png" width="406" height="390" class="b-image_block b-image_vmargin b-center" />
  </p><p>Відкрийте вкладку Security (Безпека) та виберіть зону Інтернет (Internet). Натисніть на кнопку Інший (Custom level).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5818/png/ie_int.png" width="498" height="566" class="b-image_block b-image_vmargin b-center" />
  </p><p>У розділі Сценарії (Scripting), у підрозділах Активні сценарії (Active scripting) та Виконувати сценарії аплетів Java (Scrtpting of Java applets ) виберіть пункти Увімкнути (Enable).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5820/png/2011-11-04_1109.png" width="427" height="485" class="b-image_block b-image_vmargin b-center" />
  </p><a name="fox" id="fox"></a><h3 style="color: green;">Firefox 7.0</h3><p>
  У меню Інструменти (Tools) виберіть пункт Налаштування (Options).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5312/png/ff_tools.png" width="305" height="220" class="b-image_block b-image_vmargin b-center" />
    </p><p>Перейдіть у розділ Вміст (Content) і встановіть прапорець поряд із Дозволити JavaScript (Enable JavaScript).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/4522/png/2011-11-04_1116.png" width="635" height="98" class="b-image_block b-image_vmargin b-image_border b-center" />
  </p><a name="opera" id="opera"></a><h3 style="color: green;">Opera 11.х</h3><p>У меню Інструменти (Tools) виберіть пункт Налаштування (Preferences).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5820/png/oper_options.png" width="234" height="317" class="b-image_block b-image_vmargin b-image_border b-center" />
  </p><p>Перейдіть на вкладку Додатково (Advanced). Виберіть пункт меню Вміст (Content) і встановіть прапорець поряд із Увімкнути JavaScript (Enable JavaScript).</p><p>
  <img border="0" alt="image" src="http://cards2.yandex.net/hlp-get/5821/png/2011-11-04_1120.png" width="596" height="514" class="b-image_block b-image_vmargin b-center" />
  </div>
