@()(implicit request: play.api.mvc.Request[Any])
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Про сайт</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="@routes.Assets.at("shower/themes/ribbon/styles/screen.css")">
  </head>
  <body class="list">
    <header class="caption">
      <h1>ЗНО 2014</h1>
      <p><a href="/">zno.me</a></p>
    </header>
    <section class="slide"><div>
	<h2>Сайт для підготовки до ЗНО</h2>
	<img src="@routes.Assets.at("pictures/egzamin.jpg")"/>
    </div></section>
    <section class="slide shout"><div>
	<h2>ЗНО наближається!</h2>
    </div></section>
    <section class="slide"><div>
	<h2>Треба готуватися. Але як?</h2>
	<ul>
	  <li class="next">Братися за посібники?</li>
	  <li class="next">Наймати репетитора?</li>
	  <li class="next">Може і не треба готуватись?</li>
	  <li class="next">Готуватись з легкістю, використовуючи сучасні технології?</li>
	</ul>
    </div></section>
    <section class="slide"><div>
	<h2>Треба готуватися. Але як?</h2>
	<ul>
	  <li><del>Братися за посібники?</del></li>
	  <li><del>Наймати репетитора?</del></li>
	  <li><del>Може і не треба готуватись?</del></li>
	  <p><strong>Готуватись з легкістю, використовуючи сучасні технології!</strong></p>
	</ul>
    </div></section>
    <section class="slide"><div>
	<h2>Що нам пропонує Інтернет?</h2>
	<p>Ні на yandex.ua, ні на google.com.ua неможливо знайти будь-що більше за звичайні загальні положення та сайти, які знайомлять нас з тестами за минулі роки.</p>
    </div></section>
    <section class="slide cover" id="Picture"><div>
	<img src="@routes.Assets.at("pictures/google.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/yandex.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Але винахідливі 11-класники знайшли вихід:</h2>
	<p>Можна використовувати групи соціальної мережі "Вконтакті"!</p>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/vk.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Непогано! Але ...</h2>
	<p>Усім даним, які людина може використовувати при підготовці до ЗНО, потрібне централізоване місце для зберігання. Але хто ж це зробить?</p>
	<p class="next"><strong>Я зробив!</strong></p>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/my.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>На сайті ви можете:</h2>
	<ol>
	  <li>Дізнатися, які предмети вам потрібно здавати.</li>
	  <li>Продивлятися загальні положення і матеріали для підготовки по кожному предмету.</li>
	  <li>Проходити тестування.</li>
	  <li>Брати участь в щоденних змаганнях.</li>
	</ol>
	<p>Але давайте по черзі.</p>
    </div></section>
    <section class="slide shout"><div>
	<h2>Які предмети здавати?</h2>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/predmeti.png")" alt=""/>
    </div></section>
    <section class="slide shout"><div>
	<h2>Загальні положення і матеріали для підготовки</h2>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/pidg1.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/pidg2.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Увага!</h2>
	<p>Для використання функцій сайту, описаних далі, користувачу потрібно буде зареєструватися.</p>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/reg.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Тестування</h2>
	<p>Тестування - головная функція сайту. В кожний предмет постійно будуть додаватись нові "білети", які будуть доступні для проходження.</p>
    </div></section>
    <section class="slide"><div>
	<h2>Ви можете:</h2>
	<ul>
	  <li>проходити тестування з часом чи без часу (за бажанням)</li>
	  <li>дивитися свою статистику, результати по кожному "білету" окремо і по предмету взагалі</li>
	  <li>безліч разів перепроходити білети, дізнаючись, чи покращили ви свій попередній результат</li>
	</ul>
    </div></section>
    <section class="slide shout"><div>
	<h2>Як проходить тестування?</h2>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/testing1.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/testing2.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/testing3.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/testing4.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Щоденні змагання</h2>
	<p>Для підтримання змагального духу на сайті було вирішено створити щоденні змагання. Інтерфейс їх проходження нічим не відрізняється від інтерфейсу тестування. Єдина різниця: кожна людина може проходити їх лише один раз на день. Система аналізує предмети, обрані людиною в профілі, і цілком випадковим чином обирає 18 питань (які доступні для проходження у тестах), по 6 білетів на кожен тип ("обери відповідь", "поєднай" і "введи відповідь").</p>
    </div></section>
    <section class="slide"><div>
	<h2>Статистика щоденних змагань</h2>
	<p>У кожної людини є доступ до сторінки "щоденного змагання". Завдяки їй ви можете дивитися свої відповіді на змагання у різні дні за допомогою календарика, можете дивитися рейтинги усіх, хто брав участь у щоденних змаганнях. Рейтинги поділені на рейтинг за день, місяць, рік і за весь час.</p>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/eachday.png")" alt=""/>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/rates.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>У кожної людини є профіль</h2>
	<p>Профіль загальнодоступний. У ньому зберігаються особисті дані (місто, школа) і графік проходження щоденних змагань.</p>
    </div></section>
    <section class="slide cover"><div>
	<img src="@routes.Assets.at("pictures/profile.png")" alt=""/>
    </div></section>
    <section class="slide"><div>
	<h2>Розвиток сайту</h2>
	<p>Сайт не буде залишатися таким, яким він є зараз. Над ним буде постійна робота для покращення функцій підготовки.</p>
    </div></section>
    <section class="slide"><div>
	<h2>200 балів чекають на тебе! Не прогав свій шанс.</h2><br>
	<a href="http://zno.me"><img src="@routes.Assets.at("pictures/logo-s.png")" alt=""></a>
    </div></section>
    <div class="progress"><div></div></div>
    <script src="@routes.Assets.at("shower/shower.min.js")"></script>
  </body>
</html>
