@()(implicit request: play.api.mvc.Request[Any])
@import layouts._
@main("Правила") {
    <div class="center hero-unit" xmlns="http://www.w3.org/1999/html">
        <h1>Правила</h1>

        <p>
            Сайт створений для підготовки до ЗНО. Інтерфейс адаптований для щоякнайкращої активності при роботі. Тепер вам не потрібно шукати довідники - все що треба є на сайті. Сам процес підготовки розбитий на дві частини:
            <a href="#sampod"><i>самостійна подготовка</i></a> i <a href="#zmag"><i>змагання</i></a>. В залежности від активності при підготовці ви отримаєте певний <a href="#rank">ранг</a>.
        </p>
    </div>
    <div class="span9 offset1 well ">
        <h2>Підготовка</h2>
        <div id="sampod">
            <h3>Самостійна підготовка</h3>
            <p>До самостійної підготовки можна включити <u>розв'язання білетів з предметів</u>
                , обраних в вашому профілі і <u>праця з матеріалами</u>.
                Якщо розв'язання білетів повністю автоматизовано, то праця з матеріалами проходить так, як Ви того хочете.
                При розв'язанні білетів:</p>
            <ul>
                <li>якщо Ви почали розв'язання - Ви <strong>повинні закінчити його </strong>
                    (не можна розв'язувати тільки декілька питань за один раз)</li>
                <li>уся статистика розв'язання зберігається</li>
                <li>для кожного білету є <strong>прохідний бал</strong>
                    . Якщо Ви набрали менше за мінімально можливу кількість 70% - Ви побачите всі свої помилки; Ви можете проходити будь-який білет будь-яку кількість разів</li>
                <li>Ви бачите усі правильні відповіді після розв'язання білету (незалежно від кількості набраних балів). Якщо вам потрібні лише правильні відповіді - їх Ви можете знайти у матеріалах</li>
            </ul>

        </div>
        <div id="zmag">
            <h3>Змагання</h3>
            <p>
                Це особлива форма підготовки. Кожен день будуть розміщені рейтинги серед людей, що прийняли участь у змаганні.
                Суть: кожен день ви можете один раз взяти участь у змаганнях. Яким чином вони проходять? Система випадково обирає для кожного учасника
                <span class="formula">6</span> питань з предметів, що вказані у людини у профілі. На їх розв'язання людині дається <span class="formula">y</span> хвилин. У топ потрапляють люди, які повністю правильно вирішили усі завдання. Яке місце хто займе вирішує час, за який ви пройшли тест. Всі результати доступні до перегляду.
            </p>
        </div>
    </div>
    <div class="span9 offset1 well" id="rank">
        <h2>Ранги</h2>
        В залежності від активності людини на сайті (а саме від кількості повністю правильно вирішених <i>щоденних змаганнь</i>) вона отримує певний ранг:
        <br><br><table align=center class="ranktab center ">
	  <tr><th>Ранг</th><th>Кількість повністю правильних щоденних змагань</th></tr>
            
                @for(elem <- User.allRanks) {
                    @if(elem.text != "Адмін"){<tr><td class="@("r"+(User.allRanks.indexOf(elem) + 1))">@elem.text</td><td>@if(elem.text=="Гість"){-}@if(elem.text=="Новобранець"){3}@if(elem.text=="Новачок"){5}@if(elem.text=="Учень"){8}@if(elem.text=="Майстер"){13}@if(elem.text=="Магістр"){21}@if(elem.text=="Професор"){34}@if(elem.text=="Академік"){55}@if(elem.text=="СТУДЕНТ"){89}</td></tr>}
                }
           
        </table>
    </div>
}

