body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}

#left {
    width: 200px;
    float: left;
    border: 1px double black;
    border-style: dashed;
}

#right {
    width: 200;
    float: right;
}

#content {
    margin: 0 200px 0 200px;
}

#line {
    border-top: 2px dashed #4d5659;
    margin-top: 10px;
    padding-bottom: 10px;
}

img {
    max-height: 600px;
    max-width: 700px;
}

#question:hover {
    background: #F0F0F0;
}

#top-link{
    cursor:pointer;
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    padding:0;
    z-index:1;
}
#right{
    position:fixed;
    right:0px;
    top:0px;
    padding:0;
}
#top-link:hover{
    background:#BCD9E7;
}

#top-link a {
    display: block;
    width: 100px;
    text-align: center;
    background: #333;
    color: white;
    padding: 5px 0;
    margin:5px;
    text-decoration:none !important;
}

#top-link:hover a{
    background:#000;
}

#topicon{
    width:0;
    height:0;
    display:inline-block;
    border-bottom:7px solid #fff;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    margin-right:5px;
}

#backicon{
    width:0;
    height:0;
    display:inline-block;
    border-top:7px solid #fff;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    margin-right:5px;
}

#text{
    display:none;
}

#content{
    width:730px;margin:15px auto;
}

#timer {
    text-align: center;
    position: fixed;
    top: 50px;
    right:50px;
    color: white;
    border: 1px solid #ccc;
    padding: 5px;
    background: orange;
    text-decoration: none;
    width:100px;
}

#end {
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    background: red;
    text-decoration: none;
    width: 100px;
}

#bilet_id {
    display: none;
}

table,th,td{
    table-layout: fixed;
    border: 1px solid black;
}

table{
    width: 100%;
}

select{
    width: 280px;
    max-width: 280px;
}