@(questions: List[Question], time: String, typ: Int)(implicit request: play.api.mvc.Request[Any])
@import layouts._
@import controllers.Lessons
@import models.mUser
@test("Щоденне змагання") {
  <form id="test" action="@routes.Lessons.dailyEngine(typ)" method="POST">
    
  @for(question <- questions.zipWithIndex){
    @Html(Lessons.showQuestion(question._1, question._2))
  }
  <div id="right" onload="makeDesign()">
    <span id="timer">@time</span>
    <input type="submit" value="Завершити" id="end" onclick="return otmena();">
  </div>
  </form>
}
