@(questions: List[Question], stat: List[DailyStat])(implicit flash: Flash, request: play.api.mvc.Request[Any])
@import layouts._
@import controllers.Lessons
@import models.mUser
@main("Статистика") {
<script type="text/javascript" src="@routes.Assets.at("javascripts/showhi.js")"></script>
<style>table, th, td{border: 1px solid gray;}</style>
   @flash.get("success").map { message =>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @message
        </div>
    }
    @flash.get("error").map { message =>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @message
        </div>
    }

   @for(question <- questions.zipWithIndex){
    @Html(Stats.showDailyQuestionStat(question._1, question._2, stat(question._2)))
  }
}
