@(stat: List[microDailyStat], typ: String, page: Long, typpy: Int)(implicit request: play.api.mvc.Request[Any])
@import layouts._
@import models.mUser
@main("Рейтинг") {
<table class="table table-hover table-bordered">
<thead>
  <tr>
    <th>Місце</th>
    <th>Учень</th>
    <th>Кількість набраних очок</th>
    @if(typ!="day"){<th>Дата</th>}
    <th>Час (в секундах)</th>
  </tr>
</thead>
<tbody>
  @for(stat <- stat.zipWithIndex){
<tr onclick="document.location = '@routes.User.profile(stat._1.user_id)';" style="cursor: pointer;">
  <td>@{(stat._2)+(15*(page-1))+1}</td>
  <td>@{(mUser.find(stat._1.user_id)).name}</td>
  <td>@stat._1.score</td>
  @if(typ!="day"){<td>@stat._1.time</td>}
  <td>@{Lessons.normalizeTime(stat._1.result_time)}</td>
</tr>
}
</tbody>
</table>
@if(page!=1){<table class="well" style="width: 100%">
  <tr width=100%>
    @if(page!=1){<td align=left><a href="@routes.Lessons.dailyRates(typ, page-1, typpy)"><img src="@routes.Assets.at("images/left.png")"/></a></td>}
    <td align=center>Сторінка @page</td>
  @if(stat.length != 15){<td align=right><a href="@routes.Lessons.dailyRates(typ, page+1, typpy)"><img src="@routes.Assets.at("images/right.png")"/></a></td>}
  </tr>
</table>}
}
