@(myForm: Form[(String, String)])(implicit flash: Flash, request: play.api.mvc.Request[Any])
@import helper.twitterBootstrap._
@import views.html.layouts.main
@main("Вхід"){
	@helper.form(routes.User.authenticate) {
			<div class="well">           
            <h1>Вхід</h1>            
            @myForm.globalError.map { error =>
                <p class="alert alert-error">
                	<button type="button" class="close" data-dismiss="alert">&times;</button>
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="alert alert-success">
                	<button type="button" class="close" data-dismiss="alert">&times;</button>
                    @message
                </p>
            }
            
            @helper.inputText(myForm("email"), '_label -> "Поштова скринька", '_showConstraints -> false, '_error -> <span class="label label-important">Важно</span>)
            @helper.inputPassword(myForm("password"), '_label -> "Пароль", '_showConstraints -> false)<br>
            <button type="submit" class="btn btn-primary" id="loginbutton">Вхід</button>
            <br><br><a href="@routes.User.recoverPassword()">Забули пароль?</a>
            </div>
        }
}
