@(user: mUser, gravatar: String, stats: List[microDailyStat], properLess: scala.collection.mutable.Map[Int, String])(implicit flash: Flash, request: play.api.mvc.Request[Any])
@import views.html.layouts.main
@main("Профіль") {
  <script type="text/javascript" src="@routes.Lessons.javascriptRoutes"></script>
  @flash.get("success").map { message =>
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @message
    </div>
  }
  @flash.get("error").map { message =>
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @message
    </div>
  }
  <div class="span7 well row" onload="rc()">
  <div class="span1"><p><img src="@gravatar"/></p></div>
  <div class="span4">
  <strong>@user.name</strong>&nbsp;&nbsp;<i class="@("r"+user.rank)">@User.rankToText(user.rank)</i>
  <table><tbody align="left">
  @if(!user.city.isEmpty) {
    <tr><td class="profitem">Область:</td><td><strong>@user.city</strong></td><br>
  }
  @if(!user.school.isEmpty) {
    <tr><td class="profitem">Школа:&nbsp;</td><td><strong>@user.school</strong></td><br>
  }
  @if(!user.lessons.isEmpty) {
    <tr><td class="profitem">
    Предмети:&nbsp;</td><td><i style="font-size: 12px; color: blue;">@User.codeToLessonsList(user.lessons).map {lesson =>
      @lesson.name - @Lessons.lessonStat(user.id, lesson.id)%
      <br>
    }</i></td></tr>
  }
  </tbody></table>

  </div><br>
  @if(!user.comments.isEmpty) {
    <br> <div class="span6 ramka" id="ramka" onclick="rc('ramka')"><font color=gray>
    Про себе:&nbsp;</font><i>@user.comments</i></div>
  }
  </div>
<script type="text/javascript">
$(function () {
    $('#charts').highcharts({
	title: {
            text: 'Участь в щоденних змаганнях',
            x: -20 //center
	},
	xAxis: {
            categories: [@for(i <- 1 to stats.length){'.',}]
	},
	yAxis: {
            min: 0,
            max: 100,
            title: {
		text: 'Кількість балів'
            },
            plotLines: [{
		value: 0,
		width: 1,
		color: '#808080'
            }]
	},
	tooltip: {
            valueSuffix: ' балів(и)'
	},
	series: [@properLess.keys.map{ i =>
          {
	    name: '@properLess(i)',
            data: [@for(stat <- stats.filter(x => x.typ == i)){@stat.score,}]		 
	  },
        }]
	    //@for(stat <- stats){@stat.score,}
    });
});
</script>
  @if(stats.length > 0){
    <div id="charts" class="span7 well row" style="height: 400px;">
  }
  </div>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/js/highcharts.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/js/modules/exporting.js")"></script>
}
