@()(implicit request: RequestHeader)
<header class="navbar navbar-fixed-top navbar-static-top">
  <div class="navbar-inner">
    <div class="container">    			
  	  <a href="@routes.Static.home" id="logo"><img src="@routes.Assets.at("images/logo.png")"/></a>
        <div class='bubble'>
            &mdash;&nbsp;@controllers.Static.randProverb
        </div>
        <nav>
    	  <ul class="nav pull-right">
            <li><a href="@routes.Static.zno">Що здавати?</a></li>
            @if(request.session.get(Security.username).isEmpty) {
    			<li><a href="@routes.User.login">Вхід</a></li>
    			<li><a href="@routes.User.register">Реєстрація</a></li>
    		} else {
            <li><a href="@routes.Static.about">Правила</a></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Акаунт<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="@routes.User.profile({request.session.get(Security.username).getOrElse("").toLong})">Мій профіль</a></li>
                <li><a href="@routes.User.preparation">Підготовка</a></li>  
		<li><a href="@routes.Lessons.profDaily">Щоденне змагання</a></li>
                <li><a href="@routes.User.edit">Змінити профіль</a></li>
                <li class="divider"> </li>
                <li><a href="@routes.User.logout">Вийти</a></li>
              </ul>
            </li>
    		}    			
   		  </ul>
    	</nav>
    </div>
  </div>
</header>
