@(title: String)(content: Html)(implicit request: RequestHeader)
@import play.api.cache._
@import play.api.Play.current
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <noscript><meta http-equiv="refresh" content="0; URL=@routes.Static.noscript"></noscript>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/random.js")" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
      <div id="holder">
      <!-- 
	   J'aime bien les couchers de soleil. Allons voir un coucher de soleil...
	   I am very fond of sunsets. Come, let us go look at a sunset...
	   Если ты сумеешь правильно судить сам себя, значит ты действительно мудр.
	-->
        @header()

      <!--
	  You're beautiful, but you're empty.... No one could die for you.
	  Если дашь волю баобабам, беды не миновать.
	-->
        <div class="container wrapper">@content</div>
	<div id="push"></div> </div>
    <!-- 
	 Voici mon secret. Il est très simple: on ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux.
	 Here is my secret. It is very simple: It is only with the heart that one can see rightly; what is essential is invisible to the eye.
	 Зорко одно лишь сердце. Самого главного глазами не увидишь.
      -->
    @Cache.getOrElse("footer-content", 60*120){
       @footer("footer")
    }
    <!--
	— Скучная у меня жизнь. Я охочусь за курами, а люди охотятся за мною. Все куры одинаковы, и люди все одинаковы. И живется мне скучновато. Но если ты меня приручишь, моя жизнь, словно солнцем озарится. Твои шаги я стану различать среди тысяч других. Заслышав людские шаги, я всегда убегаю и прячусь. Но твоя походка позовет меня, точно музыка, и я выйду из своего убежища. И потом — смотри! Видишь, вон там, в полях, зреет пшеница? Я не ем хлеба. Колосья мне не нужны. Пшеничные поля ни о чем мне не говорят. И это грустно! Но у тебя золотые волосы. И как чудесно будет, когда ты меня приручишь! Золотая пшеница станет напоминать мне тебя. И я полюблю шелест колосьев на ветру…
	С каждого надо спрашивать то, что он может дать. Власть, прежде всего, должна быть разумной.
	Ты навсегда в ответе за всех, кого приручил.
	Тщеславные люди глухи ко всему, кроме похвал.
	Хорошо, если у тебя когда-то был друг, пусть даже надо умереть.
      -->
   
    </body>
</html>
